@model ProjectTool

<div class="col-12 grid-margin stretch-card mb-5">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Project Material Information Form</h4>
            <form asp-action="Create" method="post" class="forms-sample">
                <input asp-for="Id" hidden />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ToolName" class="form-label">Material Name</label>
                            <input asp-for="ToolName" type="text" class="form-control">
                            <span asp-validation-for="ToolName" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                
                <button type="submit" class="btn btn-primary">Add Material</button>
            </form>
        </div>
    </div>
</div>
