@model ProjectTool
<partial name="_Notification" />

<div class="card shadow mb-4">
    <div class="card-header  text-center">
        <h4 class="m-0 font-weight-bold text-primary">Project Tools Info</h4>
    </div>
    <div class="card-body">
            <form asp-action="Create" method="post" class="forms-sample">
                <input asp-for="ProjectId" hidden />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ToolName" class="form-label"></label>
                            <input asp-for="ToolName" type="text" class="form-control">
                            <span asp-validation-for="ToolName" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                
                <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i>Add Tool</button>
                <a class="btn btn-primary btn-light" asp-action="Index" asp-controller="ProjectTool"><i class="fas fa-arrow-left"></i> Back To List</a>

            </form>
    </div>
</div>
