@model ProjectTool

<div class="card shadow mb-4">
    <div class="card-header  text-center">
        <h4 class="m-0 font-weight-bold text-primary">Edit Project Tools Info</h4>
    </div>
    <div class="card-body">
            <form asp-action="Edit" method="post" class="forms-sample">
                <input asp-for="Id" type="hidden" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ToolName" class="form-label"></label>
                            <input asp-for="ToolName" type="text" class="form-control">
                            <span asp-validation-for="ToolName" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save Changes</button>
            </form>
    </div>
</div>

