@model  List<Project>



@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />
<div class="container mt-4">
    <div class="row">
        <!-- Column One - Add Project Button -->
        <div class="col-sm-12 col-md-6 mb-2 mb-md-0">
            <p>
                <a class="btn btn-primary" asp-action="Create" asp-controller="Project"><i class="ti-plus"></i> Create Project</a>
            </p>
        </div>

    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of Projects</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Location</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Total Budget</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/project.js"></script>

}
