@model ProjectMaterial

<div class="col-12 grid-margin stretch-card mb-5">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Project Material Information Form</h4>
            <form asp-action="Create" method="post" class="forms-sample">
                <input asp-for="ProjectId" hidden />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MaterialName" class="form-label">Material Name</label>
                            <input asp-for="MaterialName" type="text" class="form-control">
                            <span asp-validation-for="MaterialName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MaterialCode" class="form-label">Material Code</label>
                            <input asp-for="MaterialCode" type="text" class="form-control">
                            <span asp-validation-for="MaterialCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="EstimatedQuantity" class="form-label">Estimated Quantity</label>
                            <input asp-for="EstimatedQuantity" class="form-control">
                            <span asp-validation-for="EstimatedQuantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="EstimatedCost" class="form-label">Estimated Cost</label>
                            <input asp-for="EstimatedCost" class="form-control">
                            <span asp-validation-for="EstimatedCost" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MaterialUOM" class="form-label"></label>
                            <select asp-for="MaterialUOM" class="form-control form-select">
                                <option value="">-- Select Unit of Measurement --</option>
                                @foreach (var uom in Enum.GetValues(typeof(UnitOfMeasurement)))
                                {
                                    <option value="@uom">@uom</option>
                                }
                            </select>
                            <span asp-validation-for="MaterialUOM" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i>Add Material</button>
                <a class="btn btn-primary btn-light" asp-action="Index" asp-controller="ProjectMaterial"><i class="fas fa-arrow-left"></i> Back To List</a>
            </form>
        </div>
    </div>
</div>
