@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}


<!-- Basic Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h6>
    </div>
    <div class="card-body">
        <partial name="_StatusMessage" for="StatusMessage" />
        <div class="row">
            <div class="col-md-6">
                <form id="email-form" method="post">
                    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Please enter your email." disabled />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="newEmail">New Email</label>
                        <input asp-for="Input.NewEmail" type="email" class="form-control" id="newEmail" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                    </div>
                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">Change Email</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
