@model Notification

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Notification Details</h6>
    </div>
    <div class="card-body">
        <div class="list-group">
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    @if (Model.ApplicationUser?.ProfileImage != null && Model.ApplicationUser.ProfileImage.Length > 0)
                    {
                        var base64Image = Convert.ToBase64String(Model.ApplicationUser.ProfileImage);
                        <img src="data:image/*;base64,@base64Image" alt="Sender Image" class="img-profile rounded-circle" style="width: 70px; height: 70px;">
                    }
                    else
                    {
                        <img src="~/img/undraw_profile.svg" alt="Default Image" class="img-profile rounded-circle" style="width: 100px; height: 100px;">
                    }                  
                    <h5 class="mb-1">@Model.ApplicationUser?.UserName</h5>
                    <small>@Model.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</small>
                </div>
                <p class="mb-1">@Model.Message</p>
            </div>
        </div>
    </div>
</div>

