@model ExpenseVM

<partial name="_Notification" />

<div class="card shadow mb-4">
    <div class="card-header  text-center">
        <h4 class="m-0 font-weight-bold text-primary">Expense Request Form</h4>
    </div>
    <div class="card-body">
        <form id="expenseForm" method="post" class="forms-sample" enctype="multipart/form-data" asp-action="Create">
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label asp-for="Expense.ProjectId" class="form-label"></label>
                        <select id="projectSelect" asp-for="Expense.ProjectId" asp-items="@Model.ProjectList" class="form-control form-select">
                            <option disabled selected>Select Project</option>
                        </select>
                        <span asp-validation-for="Expense.ProjectId" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Expense.ExpenseTypeId" class="form-label"></label>
                        <select id="expenseTypeSelect" asp-for="Expense.ExpenseTypeId" asp-items="@Model.ExpenseTypeList" class="form-control form-select">
                            <option disabled selected>Select Expense Type</option>
                        </select>
                        <span asp-validation-for="Expense.ExpenseTypeId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label asp-for="Expense.CreatedBy" class="form-label"></label>
                        <input id="createdByInput" asp-for="Expense.CreatedBy" type="text" class="form-control" readonly>
                        <span asp-validation-for="Expense.CreatedBy" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="Expense.CreatedDate" class="form-label"></label>
                        <input id="createdDateInput" asp-for="Expense.CreatedDate" type="date" class="form-control">
                        <span asp-validation-for="Expense.CreatedDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label asp-for="SupportiveDocument"></label>
                    <input asp-for="SupportiveDocument" type="file" class="form-control" />
                    <span asp-validation-for="SupportiveDocument" class="text-danger"></span>
                </div>
                </div>
            <div class="row">
                <div class="py-2 col-12">
                    <label asp-for="Expense.Description"></label>
                    <textarea asp-for="Expense.Description" class="form-control"> Description</textarea>
                </div>

            </div>
            
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Add Expense</button>
                    <a class="btn btn-primary btn-light" asp-action="Index" asp-controller="Expense"><i class="fas fa-arrow-left"></i> Back To List</a>
                </div>

            </form>
    </div>
</div>


@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists media  table visualblocks wordcount linkchecker markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent',
        });
    </script>
}
