@model List<Microsoft.AspNetCore.Identity.IdentityRole>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Role Manager</h6>
    </div>
    <div class="card-body">
        <form method="post" asp-action="AddRole" asp-controller="RoleManager" class="mb-3">
            <div class="input-group">
                <input name="roleName" class="form-control mr-2" style="width: 75%;">
                <span class="input-group-btn">
                    <button class="btn btn-primary">Add New Role</button>
                </span>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="dataTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Role Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@(Model.IndexOf(role) + 1)</td>
                            <td>@role.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
